.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--shltr-btn-w);
  min-width: var(--shltr-btn-w);
  height: var(--shltr-btn-h);
  min-height: var(--shltr-btn-h);
  padding: 2px 16px;
  border: 1px solid transparent;
  border-radius: 8px;
  background: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color 50ms ease-in, color 50ms ease-in, border-color 50ms ease-in, opacity 50ms ease-in;
  user-select: none;

  &[disabled] {
    cursor: not-allowed;
    opacity: .5;
    pointer-events: none;
  }

  &.grow {
    width: auto;
  }

  &:hover {
    transition: background-color .15s ease-out, color .15s ease-out, border-color .15s ease-out, opacity .15s ease-out;
  }

  &.filled {
    border-color: var(--shltr-btn-border);
    background: var(--shltr-btn-bg);
    color: var(--shltr-btn-col);

    &:hover:not([disabled]) {
      border-color: var(--shltr-btn-border-hov);
      background: var(--shltr-btn-bg-hov);
      color: var(--shltr-btn-col-hov);
    }

    &:active {
      border-color: var(--shltr-btn-border-act) !important;
      background: var(--shltr-btn-bg-act) !important;
      color: var(--shltr-btn-col-act) !important;
    }
  }

  &.xlarge {
    padding: 2px 20px;
    font-size: 16px;
    line-height: normal;
  }

  &.large {
    display: inline;
    padding: 2px 4px;
  }

  &.max {
    font-size: 16px;
  }

  &.icon {
    padding: 4px;
  }
}

.linkbutton {
  color: var(--text-brand);

  &:hover {
    text-decoration: underline;
  }
}
