.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--shltr-btn-w);
  min-width: var(--shltr-btn-w);
  height: var(--shltr-btn-h);
  min-height: var(--shltr-btn-h);
  padding: 2px 16px;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  transition: background-color .17s ease, color .17s ease;
  user-select: none;

  &[disabled] {
    filter: brightness(.6);
  }

  &.grow {
    width: auto;
  }
  &.filled,
  &.outlined:hover:not([disabled]) {
    background: var(--shltr-btn-bg);
    color: var(--shltr-btn-col);
  }
  &.filled:hover:not([disabled]) {
    background: var(--shltr-btn-bg-hov);
  }
  &.inverted {
    background: var(--shltr-btn-col);
    color: var(--shltr-btn-bg);
  }
  &.link {
    background: transparent;
    color: unset;
  }
  &.outlined {
    border: 1px solid var(--shltr-btn-bg);
    background: transparent;
    color: var(--shltr-btn-bg);
  }
  &.xlarge {
    padding: 2px 20px;
    font-size: 16px;
    line-height: normal;
  }
  &.large {
    display: inline;
    padding: 2px 4px;
  }
  &.max {
    font-size: 16px;
  }
  &.icon {
    padding: 4px;
  }
}

.linkbutton {
  color: var(--text-link);
  &:hover {
    text-decoration: underline;
  }
}
