.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--shltr-btn-w);
  min-width: var(--shltr-btn-w);
  height: var(--shltr-btn-h);
  min-height: var(--shltr-btn-h);
  padding: 2px 16px;
  border: 1px solid var(--opacity-white-8);
  border-radius: 8px;
  background: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  white-space: nowrap;
  cursor: pointer;
  // note: the base button uses --custom-button-transition-duration (170ms), but it is later overridden to 200ms anyway
  transition:
    background-color var(--custom-button-transition-duration) ease,
    color var(--custom-button-transition-duration) ease;
  transition-duration: .2s; // pls discord why
  user-select: none;

  &[disabled] {
    cursor: not-allowed;
    opacity: .5;
  }

  &.grow {
    width: auto;
  }

  &.filled,
  &.outlined {
    border-color: var(--shltr-btn-border);
    background: var(--shltr-btn-bg);
    color: var(--shltr-btn-col);

    &:hover:not([disabled]) {
      background: var(--shltr-btn-bg-hov);
    }

    &:active {
      background: var(--shltr-btn-bg-act) !important;
    }
  }

  // This is wrong, inverted doesn't exist as a button color anymore, but we should still respect it for backwards compatibility
  &.inverted {
    border-color: var(--shltr-btn-border);
    background: var(--shltr-btn-col);
    color: var(--shltr-btn-bg);

    &:hover:not([disabled]) {
      background: var(--button-filled-white-background-hover);
    }

    &:active {
      background: var(--button-filled-white-background-active) !important;
    }
  }

  &.link {
    border-color: transparent;
    background: transparent;
    color: var(--shltr-btn-col);

    &:hover {
      text-decoration: underline;
      text-decoration-color: var(--shltr-btn-col);
    }
  }

  &.xlarge {
    padding: 2px 20px;
    font-size: 16px;
    line-height: normal;
  }

  &.large {
    display: inline;
    padding: 2px 4px;
  }

  &.max {
    font-size: 16px;
  }

  &.icon {
    padding: 4px;
  }
}

.linkbutton {
  color: var(--text-link);

  &:hover {
    text-decoration: underline;
  }
}
