.cbwrap {
  display: flex;
  align-items: center;
  color: var(--text-default);

  &,
  & > label {
    cursor: pointer;
  }
}

.checkbox {
  position: relative;
  margin-right: 8px;

  input {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
    opacity: 0;
  }
}

.icon {
  box-sizing: border-box;
  // i give up
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 2px;
  border: 1px solid var(--checkbox-border-default);
  border-radius: 6px;
  background-color: var(--checkbox-background-default);
  color: transparent;

  &.active {
    border-color: var(--checkbox-border-checked);
    background: var(--checkbox-background-checked);
    color: var(--white);
  }
}

.disabled {
  opacity: .6;

  &,
  & > label {
    cursor: not-allowed;
  }
}
