// CSS adapted from Cumcord
// https://github.com/Cumcord/Cumcord/blob/f98494df6e7ee781163a7f2a54f3197e92bf73a4/src/api/init.js#L46

.errbound {
  padding: 16px;
  border: 1px solid var(--control-critical-primary-background-default);
  border-radius: 8px;
  background: var(--background-surface-high);
  color: var(--text-default);

  textarea {
    margin-bottom: 16px;
  }

  textarea:focus {
    outline: 1px solid var(--control-critical-primary-border-default);
  }
}
