// discord calls this `title` but w/e
.h {
  color: var(--header-primary);
  font-family: var(--font-display);
  // what is this for in discord's original styles?
  //flex: 1;
  cursor: default;
}

// tasky: margin because some places have it and some places don't, I don't know. But it's annoying and stupid and this hack will do for now to rework SettingsPanel to visual refresh. FUCK THIS.
.margin {
  margin-bottom: 20px;
}

.h1 {
  font-size: 32px;
  line-height: 1.25;
}

.h2 {
  font-size: 24px;
  line-height: 1.25;
}

.h3 {
  font-size: 20px;
  line-height: 1.2;
}

.h4 {
  font-size: 16px;
  line-height: 1.25;
}

.h5 {
  font-size: 14px;
  line-height: 1.2857142857142858;
}

.eyebrow {
  color: var(--header-secondary);
  font-weight: 700;
  line-height: 1.3333333333333333;
  letter-spacing: .02em;
  text-transform: uppercase;
}

.normal {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.extrabold {
  font-weight: 800;
}
