@import "./scrollbars.scss";

.mroot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background: none;

  &::backdrop {
    background: rgba(0, 0, 0, .7);
    opacity: 0;
    transition: opacity 250ms;
  }

  &.active::backdrop {
    opacity: 1;
  }
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
}

.wrap {
  z-index: 1;
  position: absolute;
  transition-duration: 250ms;
  transition-property: opacity, transform;

  &:not(.active) {
    transform: scale(0);
    opacity: 0;
  }
}

.modal {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  margin: 0 auto;
  border: 1px solid var(--border-normal);
  border-radius: var(--radius-md);
  background: var(--modal-background);
  box-shadow: var(--shadow-medium);
  color: var(--text-normal); // quite useful in modal body and modal footer :)
}

.sm {
  width: var(--modal-width-small);
  min-height: 220px;
  max-height: 720px;
}

.md {
  width: var(--modal-width-medium);
  min-height: 400px;
  max-height: 800px;
}

.lg {
  min-width: var(--modal-width-large);
  max-width: 962px;
  min-height: 400px;
}

.dynamic {
  width: auto;
  max-width: 100%;
  min-height: fit-content;
}

.body,
.head,
.foot {
  position: relative;
}

.body,
.foot {
  overflow-x: hidden;
}

.head,
.foot {
  display: flex;
  z-index: 1;
  flex-wrap: nowrap;
  align-items: center;
  padding: var(--modal-vertical-padding) var(--modal-horizontal-padding);
}

.body {
  box-sizing: border-box;
  z-index: 0;
  flex: 1 1 auto;
  min-height: 0;
  padding-top: var(--space-8);
  padding-right: var(--modal-horizontal-padding);
  padding-left: var(--modal-horizontal-padding);
  border-radius: 5px 5px 0 0;

  @include nice-scrollbars;
}

.head {
  justify-content: space-between;
  border-radius: 4px 4px 0 0;
  transition: box-shadow .1s ease-out;
  word-wrap: break-word;
  padding-bottom: 0;
}

.foot {
  flex: 0 0 auto;
  justify-content: flex-end;
  padding-top: var(--space-16); // overrides vertical padding top if needed
  gap: var(--space-8);
  border-radius: 0 0 var(--radius-md) var(--radius-md);
  background-color: var(--modal-footer-background);
}
