@import "./scrollbars.scss";

$RADIUS: 4px;

.mroot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background: none;

  &::backdrop {
    background: rgba(0, 0, 0, .85);
    opacity: 0;
    transition: opacity 250ms;
  }

  &.active::backdrop {
    opacity: 1;
  }
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
}

.wrap {
  z-index: 1;
  position: absolute;
  transition-duration: 250ms;
  transition-property: opacity, transform;

  &:not(.active) {
    transform: scale(0);
    opacity: 0;
  }
}

.modal {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  margin: 0 auto;
  border-radius: $RADIUS;
  background: var(--modal-background);
  color: var(--text-normal); // quite useful in modal body and modal footer :)
}

.sm {
  width: 440px;
  min-height: 200px;
  max-height: 720px;
}

.md {
  width: 600px;
  min-height: 400px;
  max-height: 800px;
}

.body {
  position: relative;
  flex: 1 1 auto;
  padding: 0 8px 20px 16px;
  overflow: hidden auto;

  @include nice-scrollbars;
}

.head,
.foot {
  flex: 0 0 auto;
  padding: 16px;
}

.head {
  display: flex;
  justify-content: space-between;
}

.foot {
  border-radius: 0 0 $RADIUS $RADIUS;
  background: var(--modal-footer-background);
}

.confirm {
  display: flex;
  justify-content: flex-end;
  gap: .5rem;
}

.cbtn {
  height: 26px;
  margin: 0;
  padding: 2px;
  border: none;
  background: transparent;
  color: var(--interactive-normal);
  cursor: pointer;
  opacity: .5;

  &:hover {
    color: var(--interactive-hover);
    opacity: 1;
  }
}
