@use "sass:math";

$HEIGHT: 24;
$WIDTH: 40;
$SPACING: 3;

$SLIDER_SIZE: $HEIGHT - ($SPACING * 2);
$SLIDER_MOVE: $WIDTH - $SLIDER_SIZE - ($SPACING * 2);

.switch {
  position: relative;
  background: hsl(218, calc(var(--saturation-factor, 1) * 4.6%), 46.9%);
  height: #{$HEIGHT}px;
  width: #{$WIDTH}px;
  border-radius: #{math.div($HEIGHT, 2)}px;
  transition: background 250ms;

  input {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    opacity: 0;
    cursor: pointer;
  }
}
.on {
  background: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);
}
.disabled {
  opacity: 0.3;
}

.slider {
  position: absolute;
  background: white;
  left: #{$SPACING}px;
  top: #{$SPACING}px;
  height: #{$SLIDER_SIZE}px;
  width: #{$SLIDER_SIZE}px;
  border-radius: #{math.div($SLIDER_SIZE, 2)}px;
  .on & {
    transform: translateX(#{$SLIDER_MOVE}px);
  }
  // i found this bezier purely by playing about on cubic-bezier.com
  transition: transform 250ms cubic-bezier(0.33, 0, 0.24, 1.02);
}

// SWITCH ITEM STYLES
.sitem {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.irow {
  display: flex;
  width: 100%;
  align-items: center;

  & > label {
    flex: 1;
    display: block;
    overflow: hidden;
    margin: 0;
    color: var(--header-primary);
    line-height: 24px;
    font-weight: 500;
    word-wrap: break-word;
    cursor: pointer;
  }

  & > div {
    flex: 0 0 auto;
  }
}
.note {
  margin-top: 8px;
  color: var(--header-secondary);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  cursor: default;
}
