@use "sass:math";

$HEIGHT: 28;
$WIDTH: 44;
$SPACING: 2;

$SLIDER_SIZE: $HEIGHT - ($SPACING * 2);
$SLIDER_MOVE: $WIDTH - $SLIDER_SIZE - ($SPACING * 2);

.switch {
  box-sizing: border-box;
  position: relative;
  width: #{$WIDTH}px;
  height: #{$HEIGHT}px;
  border: 1px solid var(--shltr-sw-border);
  border-radius: #{math.div($HEIGHT, 2)}px;
  background: var(--shltr-sw-col);
  transition: background, opacity;
  transition-duration: var(--shltr-sw-dur);

  input {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
    opacity: 0;
  }
}

.disabled {
  opacity: .3;
}

.slider {
  position: absolute;
  margin: 4px;
}

/*.slider {
  position: absolute;
  background: white;
  left: #{$SPACING}px;
  top: #{$SPACING}px;
  height: #{$SLIDER_SIZE}px;
  width: #{$SLIDER_SIZE}px;
  border-radius: #{math.div($SLIDER_SIZE, 2)}px;
  .on & {
    transform: translateX(#{$SLIDER_MOVE}px);
  }
  // i found this bezier purely by playing about on cubic-bezier.com
  transition: transform 250ms cubic-bezier(0.33, 0, 0.24, 1.02);
}*/

// SWITCH ITEM STYLES
.sitem {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.irow {
  display: flex;
  align-items: center;
  width: 100%;

  & > label {
    display: block;
    flex: 1;
    margin: 0;
    overflow: hidden;
    color: var(--header-primary);
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word;
    cursor: pointer;
  }
  color: #4e5058;

  & > div {
    flex: 0 0 auto;
  }
}

.note {
  margin-top: 8px;
  color: var(--text-subtle);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  cursor: default;
}
