.tbox,
.tarea {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: var(--input-background);
  color: var(--text-normal);
  font-size: 16px;
  transition: border-color .2s ease-in-out;
}

.tbox {
  flex-grow: 1;
  height: 40px;
  margin-right: 20px;
}

.tarea {
  resize: none;
}

.rx {
  resize: horizontal;
}

.ry {
  resize: vertical;
}

.rx.ry {
  resize: both;
}

.mono,
.mono::placeholder {
  font-family: var(--font-code);
}
