.tbox,
.tarea {
  box-sizing: border-box;
  width: 100%;
  height: 44px;
  padding: 12px 10px;
  border: 1px solid var(--input-border);
  border-radius: 8px;
  background-color: var(--input-background);
  color: var(--text-normal);
  font-size: 16px;
  transition: border-color .2s ease-in-out;
}

.wrapper {
  position: relative;
  width: 100%;
}

.counter {
  position: absolute;
  right: 14px;
  bottom: 12px;
  color: var(--text-muted);
  font-size: 12px;
  font-family: var(--font-code);
  pointer-events: none;
}

.tbox:focus,
.tarea:focus {
  border-color: var(--text-link);
}

.tarea {
  height: auto;
  resize: none;
}

.rx {
  resize: horizontal;
}

.ry {
  resize: vertical;
}

.rx.ry {
  resize: both;
}

.mono,
.mono::placeholder {
  font-family: var(--font-code);
}
