.tooltip {
  z-index: 9999999;
  position: fixed;
  max-width: 190px;
  border: 1px solid var(--border-subtle);
  border-radius: 8px;
  background: var(--background-floating);
  box-shadow: var(--elevation-high);
  color: var(--text-default);
  font-weight: 500;
  font-size: 14px;
  pointer-events: none;
  word-wrap: break-word;
  text-align: center;
  transition-duration: 100ms;
  transition-property: transform, opacity;
  text-wrap: balance;

  &:not(.active) {
    transform: scale(0);
    opacity: 0;
  }
}

.pointer {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  border: 5px solid transparent;
  border-top-color: var(--background-floating);

  &.under {
    top: unset;
    bottom: 100%;
    transform: rotate(180deg);
  }
}

.content {
  padding: 8px 12px;
  overflow: hidden;
}
