.tooltip {
  position: fixed;
  background: var(--background-floating);
  color: var(--text-normal);
  pointer-events: none;
  z-index: 9999999;
  box-shadow: var(--elevation-high);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  max-width: 190px;
  word-wrap: break-word;

  transition-property: transform, opacity;
  transition-duration: 100ms;

  &:not(.active) {
    transform: scale(0);
    opacity: 0;
  }
}

.pointer {
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;

  border: 5px solid transparent;
  border-top-color: var(--background-floating);

  margin-left: -5px;
  top: 100%;

  &.under {
    transform: rotate(180deg);
    bottom: 100%;
    top: unset;
  }
}

.content {
  padding: 8px 12px;
  overflow: hidden;
}