@keyframes shltr-toast-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.toastcontainer {
  display: flex;
  z-index: 999999;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column-reverse;
  align-items: flex-end;
  pointer-events: none;
}

.toast {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  max-width: 400px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 18px;
  gap: 14px;
  border-radius: 5px;
  background-color: var(--background-floating);
  box-shadow: var(--elevation-high);
  overflow-wrap: anywhere;
  animation: shltr-toast-fadeIn .3s;
  pointer-events: all;
}

.toasttitle {
  font-size: 22px;
  line-height: 1;
}
