fieldset,
blockquote {
  margin: 0;
  padding: 0;
  border: none;
}

.alert-box {
  margin: 20px 0;
  padding: 10px;
  border-radius: 5px;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
}

.alert-box span {
  margin: 0;
  color: hsla(0, 0%, 100%, .9);
}

.alert-box strong {
  font-weight: 900;
}

.danger {
  border: 2px solid rgba(237, 66, 69, .5);
  background: rgba(237, 66, 69, .1);
}

.warn {
  border: 2px solid rgba(254, 231, 92, .5);
  background: rgba(254, 231, 92, .1);
}

.success {
  border: 2px solid rgba(59, 165, 93, .5);
  background: rgba(59, 165, 93, .1);
}

.info {
  border: 2px solid rgba(88, 101, 242, .5);
  background: rgba(88, 101, 242, .1);
}
