$DIM: hsl(216, calc(var(--saturation-factor, 1) * 3.7%), 73.5%);

.list {
  color: var(--text-normal);
}

.bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
  gap: 20px;
}

.plugin {
  margin-top: .6rem;
  padding: .8rem;
  border: 1px solid var(--border-subtle);
  border-radius: 8px;
  background: var(--background-surface-high);
}

.row {
  display: flex;
  align-items: center;
  color: $DIM;

  strong,
  .author {
    // plugin name, author
    color: var(--header-primary);
  }
}

.desc {
  margin-top: 4px;
  color: $DIM;
  font-size: .9em;
  line-height: 1.25;
}

.btn {
  padding-inline: 6px;
  padding-block: 2px;
  border: none;
  background: none;
  color: var(--interactive-active);
  transition: opacity 250ms;

  // exclude the info div
  &button:hover {
    color: var(--interactive-hover);
  }
}

/* the wrapper containing the text area and the uploader */
.tawrap {
  display: grid;

  .btn {
    z-index: 1;
    align-self: start;
    justify-self: right;
    padding: .4rem;
  }

  & > * {
    grid-area: 1 / 1 / span 1 / span 1;
  }
}
