.row {
  display: flex;
  // default
  //flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.slogan {
  font-style: oblique;
}
