/* default Lune SSG stylesheet; uwu.network 2026
 * colours and the like are modeled on the shelter documentation site.
 */

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

body {
  background: #fff;
  color: #3c3c43;
  font-family: "IBM Plex Sans", sans-serif;
}

a {
  color: #169767;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #1b1b1f;
    color: #dfdfd6;
  }

  a {
    color: #2bfaac;
  }

  nav {
    border-bottom-color: gray !important;
  }
}

body, html {
  margin: 0;
}
nav, main {
  padding: 0 1rem;
}

nav {
  margin-bottom: 1rem;
  border-bottom: 1px solid #e2e2e3;
}

.autosize {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.a-reset {
  color: inherit;
  text-decoration: none;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  height: 2rem;
  padding: 1rem;
}

.header h1 {
  margin: 0;
  line-height: 1;
}

.header img {
  height: 2rem;
}

.footer {
  margin-top: 5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.plugin {
  margin: .5rem 0;
  padding: .5rem;
  border-radius: .5rem;
  background: rgba(44, 91, 83, .2);
}

.plugin-title {
  font-weight: bold;
  font-size: large;
}

.plugin-link {
  cursor: pointer;
  opacity: .6;
}

.plugin p {
  margin: .3rem 0;
}

.icon {
  transform: translateY(2px);
}
