:root {
  /* all CSS vars required by shelter-UI components */
  --saturation-factor: 1;
  --text-normal: #dbdee1;
  --text-link: #00a8fc;
  --brand-400: #7983f5;
  --brand-500: #5865f2;
  --brand-560: #4752c4;
  --brand-experiment: var(--brand-500);
  --interactive-active: var(--white-500);
  --interactive-normal: #b5bac1;
  --interactive-hover: #dbdee1;
  --font-display: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-code:
    Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  --background-secondary: #2b2d31;
  --background-floating: #111214;
  --background-modifier-accent: #4e5058;
  --input-background: #1e1f22;
  --modal-background: #313338;
  --modal-footer-background: var(--background-secondary);
  --header-primary: #f2f3f5;
  --header-secondary: var(--interactive-normal);
  --scrollbar-thin-thumb: #1a1b1e;
  --scrollbar-thin-track: hsl(var(--black-500-hsl) / 0);
  --elevation-high: 0 8px 16px hsl(var(--black-500-hsl) / .24);
  --button-danger-background: #da373c;
  --button-danger-background-hover: #8f2022;
  --button-positive-background: #248046;
  --button-positive-background-hover: #1a6334;
  --button-secondary-background: var(--primary-500);
  --button-secondary-background-hover: #6d6f78;
  --primary-500: #4e5058;
  --primary-200: #e3e5e8;
  --white-500: #ffffff;
  --black-500-hsl: 0 0% 0%;
  /* nice-to-haves */
  --font-primary: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --background-primary: #313338;
}

/* discord fonts */
@font-face {
  font-style: normal;
  font-weight: 800;
  src: url(https://cdn.jsdelivr.net/gh/uwu/shelter@main/packages/shelter-assets/discord-fonts-mirror/fad1e8f9791cde986c61.woff2)
    format("woff2");
  font-family: "ABC Ginto Nord";
}

@font-face {
  font-style: italic;
  font-weight: 800;
  src: url(https://cdn.jsdelivr.net/gh/uwu/shelter@main/packages/shelter-assets/discord-fonts-mirror/1dae98f83a4f199a9aee.woff2)
    format("woff2");
  font-family: "ABC Ginto Nord";
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/gh/uwu/shelter@main/packages/shelter-assets/discord-fonts-mirror/b9811218b3a54ad59fb2.woff2)
    format("woff2");
  font-family: "gg sans";
}

@font-face {
  font-style: italic;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/gh/uwu/shelter@main/packages/shelter-assets/discord-fonts-mirror/15551c6c9d4d1a96ba76.woff2)
    format("woff2");
  font-family: "gg sans";
}

@font-face {
  font-style: normal;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/gh/uwu/shelter@main/packages/shelter-assets/discord-fonts-mirror/f84e3e81b8d0718cd917.woff2)
    format("woff2");
  font-family: "gg sans";
}

@font-face {
  font-style: italic;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/gh/uwu/shelter@main/packages/shelter-assets/discord-fonts-mirror/099b34f1948afe9d15e4.woff2)
    format("woff2");
  font-family: "gg sans";
}

@font-face {
  font-style: normal;
  font-weight: 600;
  src: url(https://cdn.jsdelivr.net/gh/uwu/shelter@main/packages/shelter-assets/discord-fonts-mirror/20ac37ed2576dd48d7dc.woff2)
    format("woff2");
  font-family: "gg sans";
}

@font-face {
  font-style: italic;
  font-weight: 600;
  src: url(https://cdn.jsdelivr.net/gh/uwu/shelter@main/packages/shelter-assets/discord-fonts-mirror/36a7c3603a9c96bce18d.woff2)
    format("woff2");
  font-family: "gg sans";
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/gh/uwu/shelter@main/packages/shelter-assets/discord-fonts-mirror/3f46bbecb4287c0a829f.woff2)
    format("woff2");
  font-family: "gg sans";
}

@font-face {
  font-style: italic;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/gh/uwu/shelter@main/packages/shelter-assets/discord-fonts-mirror/6191b2ecd48873bed773.woff2)
    format("woff2");
  font-family: "gg sans";
}

@font-face {
  font-style: normal;
  font-weight: 800;
  src: url(https://cdn.jsdelivr.net/gh/uwu/shelter@main/packages/shelter-assets/discord-fonts-mirror/f65e087dae83a0fdc637.woff2)
    format("woff2");
  font-family: "gg sans";
}

@font-face {
  font-style: italic;
  font-weight: 800;
  src: url(https://cdn.jsdelivr.net/gh/uwu/shelter@main/packages/shelter-assets/discord-fonts-mirror/d5c9d3b86fab5ccc8ef2.woff2)
    format("woff2");
  font-family: "gg sans";
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/gh/uwu/shelter@main/packages/shelter-assets/discord-fonts-mirror/25f1e66664a140ac84c9.woff2)
    format("woff2");
  font-family: "Noto Sans";
}

@font-face {
  font-style: italic;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/gh/uwu/shelter@main/packages/shelter-assets/discord-fonts-mirror/9f0adc4ecabddcd298dc.woff2)
    format("woff2");
  font-family: "Noto Sans";
}

@font-face {
  font-style: normal;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/gh/uwu/shelter@main/packages/shelter-assets/discord-fonts-mirror/e0ece3c23b33d18f4d00.woff2)
    format("woff2");
  font-family: "Noto Sans";
}

@font-face {
  font-style: italic;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/gh/uwu/shelter@main/packages/shelter-assets/discord-fonts-mirror/818e8d4d506064aa57a3.woff2)
    format("woff2");
  font-family: "Noto Sans";
}

@font-face {
  font-style: normal;
  font-weight: 600;
  src: url(https://cdn.jsdelivr.net/gh/uwu/shelter@main/packages/shelter-assets/discord-fonts-mirror/9a02726c2f8410020238.woff2)
    format("woff2");
  font-family: "Noto Sans";
}

@font-face {
  font-style: italic;
  font-weight: 600;
  src: url(https://cdn.jsdelivr.net/gh/uwu/shelter@main/packages/shelter-assets/discord-fonts-mirror/08b2e52c725dc0d1a24a.woff2)
    format("woff2");
  font-family: "Noto Sans";
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/gh/uwu/shelter@main/packages/shelter-assets/discord-fonts-mirror/ee6b51adb64f6365352c.woff2)
    format("woff2");
  font-family: "Noto Sans";
}

@font-face {
  font-style: italic;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/gh/uwu/shelter@main/packages/shelter-assets/discord-fonts-mirror/4167dc814806444a69a5.woff2)
    format("woff2");
  font-family: "Noto Sans";
}

@font-face {
  font-style: normal;
  font-weight: 800;
  src: url(https://cdn.jsdelivr.net/gh/uwu/shelter@main/packages/shelter-assets/discord-fonts-mirror/2850dd7b145576e8d7c7.woff2)
    format("woff2");
  font-family: "Noto Sans";
}

@font-face {
  font-style: italic;
  font-weight: 800;
  src: url(https://cdn.jsdelivr.net/gh/uwu/shelter@main/packages/shelter-assets/discord-fonts-mirror/8318c9f278405382203e.woff2)
    format("woff2");
  font-family: "Noto Sans";
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/gh/uwu/shelter@main/packages/shelter-assets/discord-fonts-mirror/7645cb75533b9a614c7a.woff2)
    format("woff2");
  font-family: "Source Code Pro";
}

@font-face {
  font-style: normal;
  font-weight: 600;
  src: url(https://cdn.jsdelivr.net/gh/uwu/shelter@main/packages/shelter-assets/discord-fonts-mirror/cbb17c40dc4d56e70d10.woff2)
    format("woff2");
  font-family: "Source Code Pro";
}
